/*Color pallete
    #FEDC222 -Light yellow
    #FFCE00 -Yellow
    #FFBA00 -Darker yellow
    #610DA9 -Purple
    #2D0352 -Dark purple
*/

body
{
    margin: 0;
}

.content_container
{
    background-color: #260146;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

/**********TOP OF PAGE**********/
.Project_Logo
{
    width: 150px;
    height: 150px;
    margin-top: 32px;
}

/*Ensuring all text is the same font and color*/
.Landing_Page_Title,
.Landing_Page_Subtitle,
.Summary_Title,
.Project_Summary1,
.Project_Summary2,
h2
{
    font-family: 'Akira Expanded', sans-serif;
    color: white;
}

.Landing_Page_Title
{
    margin-top: 0;
    margin-bottom: 0;
    color: #FFBA00;
    font-size: 40px;
}

.Landing_Page_Subtitle
{
    margin-top: 12px;
}

.Icons_Container
{
    display: flex;
    gap: 29px;
    width: 400px;
    height: 50px;
    justify-content: center;
    margin-top: 16px;
}

.Icon
{
    height: 50px;
    width: auto;
}

/**********PROJECT DESCRIPTION SECTION**********/

.Summary_Title
{
    margin-top: 300px;
    letter-spacing: 7px;
}

.Project_Summary1,
.Project_Summary2
{
    width: 50vw;
    flex-grow: 0;
    font-size: 12px;
    text-align: center;
}

/**********ROADMAP SECTION**********/
.Roadmap_Title
{
    margin-top: 300px;
}
.roadmap
{
    display: flex;
    height: 1500px;
}

/*****Left section of map*****/
.left_map_side
{
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: 1500px;
}

.Left_Timeline_Event,
.Right_Timeline_Event
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 150px;
}

.Left_Timeline_Event
{
    text-align: right;
    margin-right: 48px;
}

/*****Middle section of map*****/
.Map_Line
{
    background-color: black;
    width: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.Map_Circle,
.First_Map_Circle
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #610DA9;
    border: 1px solid #FFBA00;
    box-shadow: 0 0 25px 5px #FEDC22
}

.First_Map_Circle
{
    margin-top: 58px;
}
/*****Right section of map*****/
.right_map_side
{
    display: flex;
    flex-direction: column;
    height: 1500px;
}

.Right_Timeline_Event
{
    text-align: left;
    margin-left: 48px;
    margin-top: 150px;
}
/*****Contnent section of map*****/
.Timeline_Title
{
    color:#FFBA00;
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: 0;
}

.Timeline_Text
{
    color: white;
    font-size: 18px;
    margin-top: 0;
}

